.container {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid #ededed;
  padding: 0 .6em;

  .destroyButton {
    display: none;
  }

  &:hover {
    .destroyButton {
      display: block;

      &[disabled] {
        display: none;
      }
    }
  }
}

.completeCheckContainer {
  position: relative;

  input {
    position: absolute;
    opacity: 0;

    &[disabled] + label {
      pointer-events: none;
    }
  }

  input:checked + label {
    &:after{
      color: #59d4a1;
    }
  }

  label {
    height: 24px;
    width: 24px;
    border: 1px solid #ededed;
    display: block;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    &:after {
      content: '┘';
      transform: rotate(40deg);
      position: absolute;
      color: #fff;
      font-size: 20px;
      top: 7px;
      left: 2px;
    }
  }

  &Disabled {
    pointer-events: none;
    opacity: 0;
  }
}

.titleContainer {
  flex: 1;
  position: relative;
  padding: .6em;
  height: 26px;
  line-height: 1.2;
  font-size: 20px;
  padding-left: 1.2em;

  &[data-disabled="true"] {
    &,
    input,
    span {
      pointer-events: none;
      cursor: auto;
      user-select: none;
    }
  }
}

.titleInputContainer {
  position: absolute;
}

.titleTextContainer {
  position: absolute;

  &[data-complete="true"] {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}

.destroyButton {
  color: #bd724a;
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 24px;
}
